@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-image: linear-gradient(0deg, #7ddbffcc, #7ddbff45);    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;

}
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0;
    height: auto;

}
.feat-menu{
    display: none;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #17bcff;
}
.bar-1{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.bar-1 > a{
    width: 50%;
    height: 10vw;
    text-align: center;
    text-decoration: none;
    line-height: 10vw;
    color: black;
}
.bar-1 > a:hover{
    background-color: hsl(197, 97%, 50%);
}
.top-sell{
    margin: 0;
    padding: 0;
    background-image: url(images/header-img-mobile.png);
    background-size: cover;
    width: 100%;
    height: 89.7vw;
    font-size: 3vw;
    font-weight: bolder;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #17bcff;
}
.top-sell-txt{
    margin-top: 0;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;

}
.top-sell-txt > h1{
    margin-top: 0;
    font-weight: 400;
}
button{
    background-color: hsl(197, 97%, 50%);
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
}
.top-sell-txt > button{
    width: 18vw;
    height: 5vw;
    color: white;
    margin-top: 53vw;
    font-size: 1.6vw;
    border-radius: 5px;

}
a{
   transition: all .6s; 
}
.feat-cat{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-weight: 400;
    font-size: 4.7vw;
}
.feat-cat  img{
    width: 40vw;
    height: 44vw;
}
.feat-cat > div > div:nth-child(n+4){
    display: none;
}
.first-feat-cat{
    position: relative;
}
.first-feat-cat  img{
    opacity: 0.4;
} 
.button{
    height: 12vw;
    width: 40vw;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 5vw;
}
.f-cat-body{
    background-color: rgba(128, 128, 128, 0.2);
    margin-top: 3vw;
    width: 40vw;
}
.feat-cat > img{
    display: none;
}
.f-cat-body > h3{
    font-weight: 400;
    text-align: center;
    margin-bottom: 2px;
    font-size: 4vw;
}
.f-cat-body > p{
    font-weight: 400;
    text-align: center;
    font-size: 3vw;
    opacity: 0.5;
    margin-top: 0px;
}
.feat-cat1{
    width: 100%;
    padding-top: 17vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feat-cat1  img{
    width: 40vw;
    height: 44vw;
}
.best-price{
    position: relative;
    padding-left: 18.5vw;
}
.best-price > img{
    width: 60vw;
}
.button1{
    position: absolute;
    width: 30vw;
    height: 10vw;
    top: 4vw;
    left: 47vw;
    font-size: 4vw;
}
.best-price > h3{
    position: absolute;
    font-size: 4vw;
    font-weight: 800;
    text-align: left;
    top: 0;
    left: 19vw;
}
.feat-cat1 div:nth-child(n+2){
    display: none;
}
.feat-cat2 > .new, .feat-cat2 > .best, .feat-cat2 > .sale{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.feat-cat2 > .feat-products{
    display: none;
}
.feat-cat2 > img, input, .labels{
    display: none;
}
.product > img{
    width: 40vw;
}
.product:nth-child(n+3){
    display: none;
}
.feat-cat3{
    width: 100%;
    padding-left: 8vw;
}
.arrow{
    display: none;
}

.blog{
    width: 80vw;
    
}
.blog > img{
    width: 80vw;
}

@media screen and (max-width: 330px){
    body{
        font-size: 10px;
    }
    header img{
        height: 20px;
    }
}
